@font-face {
    font-family: 'Geometria';
    src: url('/fonts/geometria-webfont.woff2') format('woff2'),
         url('/fonts/geometria-webfont.woff') format('woff'),
         url('/fonts/geometria-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('/fonts/geometria-bold-webfont.woff2') format('woff2'),
         url('/fonts/geometria-bold-webfont.woff') format('woff'),
         url('/fonts/geometria-bold-webfont.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('/fonts/geometria-medium-webfont.woff2') format('woff2'),
         url('/fonts/geometria-medium-webfont.woff') format('woff'),
         url('/fonts/geometria-medium-webfont.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Geometria';
    src: url('/fonts/geometria-italic-webfont.woff2') format('woff2'),
         url('/fonts/geometria-italic-webfont.woff') format('woff'),
         url('/fonts/geometria-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}