* {
    outline: 0;
    box-sizing: border-box;
}

.g-vac {
    display: block;
    white-space: nowrap;
}
.g-vac:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
}
.g-vac__el {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    line-height: 1;
}

body {
    /* Зачаровать шрифты */
    font-family: "Geometria", "Roboto", system-ui, sans-serif;
    font-smoothing: antialiased;
    font-variant-ligatures: none;

    /**
     * Фикс для мобильного сафари, чтобы при поворотах он не склеивал и не терял контент.
     * Префиксы установлены вручную, так как на момент 13.03.2018
     * autoprefixer этого не делал автоматически.
     */
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;

    min-height: 100vh;
    background-color: var(--paletteColor10);

    & ul {
        list-style-type: none;
        padding: 0;
    }
}

#app {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 40px;
}

.g-container {
    max-width: calc(1280px + 30px*2);
    padding: 0 30px;
    margin: auto;

    & .h_100 {
        height: 100%;
    }
}
.g-container_sm {
    max-width: calc(966px + 20px*2);
    padding: 0 20px;
    margin: auto;
}

.g-line {
    position: relative;
    border-top: 1px solid var(--paletteColor3);
    margin: 60px 0 50px;
    &::before,
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        margin: auto;
        width: 0;
        height: 0;
        border: 10px solid transparent;
        border-top-color: var(--paletteColor3);
        border-bottom: 0 none;
    }
    &::after {
        top: -1px;
        border-top-color: var(--paletteColor10);
    }
}

.g-line_green {
    height: 10px;
    background: var(--paletteColor4);
}

.g-btn {
    --self_p_rl: 10px;
    display: inline-block;
    vertical-align: middle;
    height: 4em;
    min-width: 9.4em;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding: 1px var(--self_p_rl);
    border: 0 none;
    outline: 0 none;
    border-radius: 3px;
    /*box-shadow: 0 1.7em 1.7em rgba(#9C8857, 0.5);*/
    transition: all 0.1s ease;
    user-select: none;
    text-align: center;
    cursor: pointer;
    color: currentColor;

    & .g-btn__txt {
        display: inline-block;
        vertical-align: middle;
        font-size: 13px;
        line-height: 1;
    }

    &:not(button) {
        padding-right: calc(var(--self_p_rl));
        &::after {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            width: 0;
        }
    }

    &.g-btn_w_31{
        min-width: 310px;
    }

    &.g-btn_light {
        font-weight: 300;
    }
    &.g-btn_med {
        font-weight: 500;
    }
    &.g-btn_mid {
        height: 50px;

        & .g-btn__txt {
            font-size: 23px;
        }
    }
    &.g-btn_big {
        height: 50px;

        & .g-btn__txt {
            font-size: 27px;
            font-weight: 500;
        }
    }
    &.g-btn_sm {
        height: 30px;
    }
    &.g-btn_green {
        color: var(--paletteColor3);
        &:hover {
            background: var(--rgbaColor2);
        }
    }
    &.g-btn_bg_green {
        color: var(--paletteColor2);
        background: var(--paletteColor4);
        &:hover {
            background: var(--paletteColor6);
        }
    }
    &.g-btn_bg_grey {
        color: var(--paletteColor2);
        background: var(--paletteColor7);
        box-shadow: 0 13px 6px var(--rgbaColor1);
        &:hover {
            background: var(--paletteColor7);
        }
    }
    &.g-btn_bg_violet {
        color: var(--paletteColor2);
        background: var(--paletteColor11);
        &:hover {
            background: var(--paletteColor11);
        }
    }
    &.g-btn_brd {
        border: 1px solid currentColor;
        background: none;
    }
    &.g-btn_brd_blue {
        color: var(--paletteColor9);
        border: 1px solid currentColor;
        background: none;
    }
}
.g-pag-btn {
    margin: 10px 0 10px;
    text-align: center;
}
