@import '../breakpoints';

.agents__list {
    margin: 30px -10px 0;
    clear: both;
}

.agent-card {
    float: left;
    width: 20%;
    padding: 0 10px;
    margin-bottom: 30px;
    text-align: center;

    & .agent-card__wrap {
        min-height: 342px;
        position: relative;
        z-index: 1;
        padding: 10px 10px 72px;

        &:hover .agent-card__diz {
            transform: scale(1.05);
        }
    }
    & .agent-card__diz {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        transition: transform 0.1s ease-in-out;
    }

    & .agent-card__img {
        display: block;
        width: 160px;
        height: 160px;
        margin: auto auto 7px;
        border-radius: 100%;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: cover;
    }
    & .agent-card__status {
        display: block;
        margin-bottom: 2px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 500;
        color: #12AB17;
    }
    & .agent-card__name {
        display: block;
        margin-bottom: 6px;
        font-size: 18px;
        line-height: 1.2;
        font-weight: 500;
        color: #8D8D8D;
    }
    & .agent-card__feature {
        display: block;
        margin-bottom: 4px;
        font-size: 15px;
        line-height: 1.2;
        font-weight: 300;
        color: #8D8D8D;
    }
    & .agent-card__info {
        display: block;
        height: 52px;
        position: absolute;
        right: 0;
        bottom: 10px;
        left: 0;
    }
    & .agent-card__info-item {
        display: inline-block;
        float: left;
        width: 50%;
        height: 100%;
        text-align: center;
    }
    & .agent-card__info-item ~ .agent-card__info-item {
        border-left: 1px solid #AFAFAF;
    }
    & .agent-card__info-el {
        display: block;
        /* padding-top: 12px; */
        margin-bottom: 3px;
    }
    & .agent-card__info-el.star {
        padding-top: 10px;
    }
    & .agent-card__info-el.comment {
        padding-top: 12px;
    }
    & .agent-card__info-el.star .agent-card__info-ico{
        max-width: 30px;
        max-height: 27px;
    }
    & .agent-card__info-el.comment .agent-card__info-ico {
        max-width: 25px;
        max-height: 23px;
    }
    & .agent-card__info-ico {
        display: inline-block;
        vertical-align: middle;
        margin-right: 9px;
    }
    & .agent-card__info-val {
        display: inline-block;
        vertical-align: middle;
        margin-top: 2px;
        font-size: 18px;
        line-height: 1;
        color: #AFAFAF;
    }
    & .agent-card__info-title {
        display: block;
        font-size: 13px;
        line-height: 1.2;
        color: #8D8D8D;
    }

    @media (--phonePortrait),
        (--phoneLandscape),
        (--tabletPortrait),
        (--tabletLandscape) {
    }
}
