@import '../breakpoints';

.agent-p {

    & .agent-p__bg {
        height: 334px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    & .agent-p__name {
        font-size: 30px;
        font-weight: 300;
        line-height: 1.2;
    }
    & .agent-p__status {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.4;
        color: var(--paletteColor4);
    }

    & .agent-p__center::before,
    & .agent-p__center::after,
    & .agent-p__bottom::before,
    & .agent-p__bottom::after,
    & .agent-p__wrap::before,
    & .agent-p__wrap::after {
        content: "";
        display: block;
        clear: both;
    }
    & .agent-p__flex {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
    }
    & .agent-p__name-cont {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        min-height: 55px;
    }

    & .agent-p__info-img {
        border: 4px solid #FFF;
        width: 340px;
        height: 340px;
        border-radius: 100%;
        margin: -180px 0 20px;
        position: relative;
        z-index: 1;
    }

    & .agent-p__info-cont {
        background: #FFF;
        padding: 15px;
        position: relative;
    }
    & .agent-p__info-cont_big {
        padding: 28px 35px;
    }
    & .agent-p__info-cont_nav {
        padding-bottom: 45px;
    }
    & .agent-p__info-item {
        margin-bottom: 10px;
        white-space: nowrap;
    }
    & .agent-p__info-item:before,
    & .agent-p__info-item:after {
        content: "";
        display: block;
        clear: both;
    }
    & .agent-p__info-name,
    & .agent-p__info-val {
        float: left;
        display: inline-block;
        vertical-align: top;
        white-space: normal;
        font-size: 17px;
        line-height: 1.4;
    }
    & .agent-p__info-name {
        width: 146px;
        position: relative;
        z-index: 1;
        color: var(--paletteColor8);
    }
    & .agent-p__info-val {
        width: 100%;
        margin-left: -146px;
        padding-left: 161px;
        color: var(--paletteColor9);
    }
    & .agent-p__info-name_big,
    & .agent-p__info-val_big {
        font-size: 17px;
        line-height: 1.4;
    }
    & .agent-p__info-name_sm,
    & .agent-p__info-val_sm {
        font-size: 15px;
        line-height: 1.5;
    }
    & .agent-p__info-soc {
        margin: 20px 0 8px;
    }
    & .agent-p__info-nav {
        position: absolute;
        left: 25px;
        bottom: 10px;
    }
    & .agent-p__info-nav-item {
        display: inline-block;
        padding: 10px 10px;
        text-decoration: none;
        background: none;
        border: none;
        cursor: pointer;
        color: var(--paletteColor8);
    }
    & .agent-p__info-nav-item:hover,
    & .agent-p__info-nav-item.active {
        color: var(--paletteColor1);
    }
    & .agent-p__info-nav-item.active {
        cursor: default;
    }
    & .agent-p__info-nav-item.active .agent-p__info-nav-item-txt {
        border-bottom: 3px solid #5300A5;
    }
    & .agent-p__info-nav-item-txt {
        font-size: 18px;
        font-weight: 500;
    }

    & .agent-p__top {
        min-height: 55px;
        margin-bottom: 10px;
        background: #FFF;
        box-shadow: 0 3px 6px var( --rgbaColor1);
    }
    & .agent-p__center {
        margin-bottom: 10px;
    }
    & .agent-p__center .agent-p__wrap {
        display: flex;
    }
    & .agent-p__left {
        float: left;
        width: 37.061%;
        padding-right: 20px;
        min-height: 1px;
    }
    & .agent-p__left-btn {
        text-align: center;
        margin-bottom: 16px;
    }
    & .agent-p__left-footer {
        border-top: 1px solid var(--paletteColor12);
        margin: 0 -15px -15px;
        padding: 10px 15px 0;
    }
    & .agent-p__right {
        float: right;
        width: calc(100% - 37.061%);
        min-height: 1px;
    }
    & .agent-p__right .agent-p__info-cont  {
        height: 100%;
    }

    & .agent-p__button-b {
        margin-bottom: 10px;
    }
    & .agent-p__button-b-in {
        padding: 40px 20px 40px;
        text-align: center;
        background: #fff;
    }
    & .agent-p__bottom {
        margin-bottom: 10px;
    }
    & .agent-p__bottom-btn {
        text-align: center;
        margin: 30px 0 0;
    }



    @media (--phonePortrait),
        (--phoneLandscape),
        (--tabletPortrait),
        (--tabletLandscape) {
    }
}

.soc-item__cont::before,
.soc-item__cont::after {
    content: "";
    display: block;
    clear: both;
}
.soc-item__list {
    margin-right: -35px;
}
.soc-item {
    float: left;
    margin-right: 35px;
    margin-bottom: 10px;
}
.soc-item__ico {
    max-width: 65px;
    max-height: 65px;
}

.comment__el {
    background: #FFF;
    position: relative;
    padding: 20px 100px 20px 160px;
    min-height: 160px;
    margin-bottom: 10px;
}
.comment__ico-cont {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    overflow: hidden;
}
.comment__ico {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.comment__text {
}
.comment__name {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: var(--paletteColor11);
    margin-bottom: 2px;
}
.comment__date {
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
    color: var(--paletteColor7);
    position: absolute;
    top: 23px;
    right: 64px;
}
.comment__ctrl {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 14px;
    border: 0 none;
    background: none;
}
.comment__ctrl-ico {
}
.comment__status {
    position: absolute;
    top: 55px;
    right: 31px;
    padding-top: 35px;
    width: 62px;
    text-align: center;
}
.comment__status-ico {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: auto;
}
.comment__status-who {
    font-size: 17px;
    line-height: 1;
    color: var(--paletteColor7);
}
.comment__desc {
    font-size: 16px;
    line-height: 1.4;
    color: var(--paletteColor7);
}

.blog__list-cont::before,
.blog__list-cont::after {
    content: "";
    display: block;
    clear: both;
}
.blog__list {
    margin: 0 -20px;
}
.blog__el {
    float: left;
    width: 33.333%;
    height: 470px;
    padding: 0 20px;
    margin-bottom: 30px;
    &:nth-child(-n + 2){
        width: 50%;
        height: 400px;

        & .blog__img-cont {
            max-height: 260px;
            &::after {
                padding-bottom: 65%;
            }
        }
    }
}
.blog__el-in {
    background: #FFF;
    position: relative;
    height: 100%;
}
.blog__img-cont {
    position: relative;
    max-height: 345px;
    overflow: hidden;
    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}
.blog__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.blog__text {
    padding: 0 20px;
}
.blog__text-top {
    margin: 10px 0;
}
.blog__text-top::before,
.blog__text-top::after {
    content: "";
    display: block;
    clear: both;
}
.blog__view {
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    color: var(--paletteColor7);
    float: left;
    max-width: 50%;
    overflow: hidden;
    position: relative;
    padding: 5px 0 0 50px;
    min-height: 20px;
}
.blog__view-ico-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 38px;
    height: 20px;
}
.blog__view-ico {
    max-width: 100%;
    max-height: 100%;
}
.blog__date {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    white-space: nowrap;
    color: var(--paletteColor7);
    float: right;
    max-width: 50%;
    overflow: hidden;
}
.blog__title {
    font-size: 23px;
    font-weight: 500;
    line-height: 1.25;
    color: var(--paletteColor7);
    margin-bottom: 2px;
}
.blog__desc {
    font-size: 16px;
    line-height: 1.4;
    color: var(--paletteColor7);
}
