@import '../breakpoints';

.feature {
    background: #541296;
    color: #FFF;

    & .feature__list {
        display: block;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    & .feature__item {
        display: flex;
        justify-content: center;
        align-items: center;
        float: left;
        width: 33.333%;
        height: 182px;
        padding: 10px 15px;
        text-align: center;
    }
    & .feature__txt {
        display: block;
        font-size: 62px;
        line-height: 1.1;
        font-weight: 500;
    }
    & .feature__title {
        display: block;
        font-size: 19px;
        line-height: 1.3;
        font-weight: 500;
    }

    @media (--phonePortrait),
        (--phoneLandscape),
        (--tabletPortrait),
        (--tabletLandscape) {
    }
}
