@import '../breakpoints';

.filter {
    background: #541296;
    background: var(--rgbaColor3);
    color: #FFF;

    & .filter__list {
        display: block;
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
    & .filter__item {
        display: block;
        height: 42px;
    }
    & .filter__item.active .filter__link::before {
        transform: translateY(-3px);
    }
    & .filter__link {
        display: block;
        display: flex;
        align-items: center;
        height: 100%;
        padding: 3px 15px 0;
        overflow: hidden;
        color: currentColor;
        text-decoration: none;
        position: relative;

        &::before {
            content: "";
            display: block;
            height: 3px;
            position: absolute;
            top: 100%;
            right: 15px;
            left: 15px;
            transition: transform 0.15s ease;
            background-color: currentColor;
        }

        &:hover::before {
            transform: translateY(-3px);
        }
    }
    & .filter__txt {
        font-size: 17px;
        line-height: 1.3;
        font-weight: 500;
    }

    @media (--phonePortrait),
        (--phoneLandscape),
        (--tabletPortrait),
        (--tabletLandscape) {
    }
}
