@import '../breakpoints';

.footer {
    width: 100%;
    padding-bottom: 68px;
    margin: auto 0 0;

    & .cont {
    }

    & .footer__txt {
        font-size: 20px;
        font-weight: 300;
        line-height: 1.4;
        color: #434547;
    }

    & .logo {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 50px;
    }
    & .logo__item {
        display: inline-block;
        display: flex;
        align-content: center;
        justify-content: center;
        vertical-align: top;
        max-height: 100px;
        min-width: 200px;
        margin: 10px 20px;
    }
    & .logo__link {
        align-self: center;
        transition: opacity 0.1s;
        &:hover {
            opacity: 0.5;
        }
    }
    & .logo__ico {
        display: block;
        align-self: center;
        max-width: 100%;
        max-height: 100%;
    }

    & .quick {
        color: #fff;
        background: var(--paletteColor5);
        padding: 30px 0;
        margin-bottom: 30px;
    }
    & .quick__in {
        display: flex;
        justify-content: space-between;
    }
    & .quick__title {
        margin: 6px 0;
    }
    & .quick__txt {
        font-size: 27px;
        font-weight: 500;
        line-height: 1.4;
    }
    & .quick__btn {
    }

    & .bottom__cont {
        display: flex;
        justify-content: space-between;
    }

    & .copyright {
        padding-top: 40px;
    }

    & .copyright__txt {
    }

    & .store {
        text-align: right;
    }
    & .store__title {
        margin-bottom: 8px;
    }
    & .store__title-txt {
    }
    & .store__item {
        display: block;
        margin-bottom: 6px;
    }
    & .store__link {
        display: block;
        transition: opacity 0.1s;
        &:hover {
            opacity: 0.5;
        }
    }
    & .store__ico {
        display: block;
    }

    @media (--phonePortrait),
        (--phoneLandscape),
        (--tabletPortrait),
        (--tabletLandscape) {
    }
}
