@import '../breakpoints';

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: var(--zIndex1);
    background-color: var(--paletteColor2);
    box-shadow: 0 3px 16px var(--rgbaColor1);

    & .cont {
        display: flex;
        justify-content: space-between;
        margin: 0 auto 0;
        padding: 2px 0;
        height: 40px;
    }

    & .logo {
        display: block;
        margin-left: -10px;
        width: 40px;
        height: 100%;
        background-image: url('./assets/logos/find_agent-logo.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        cursor: pointer;
    }

    & .header-nav {
        display: flex;
        height: 100%;
        margin-right: -10px;

        & .item {
            height: 100%;
        }
        & .item__name {
            text-decoration: none;
            color: #666666;
            display: block;
            height: 100%;
            padding: 0 10px;
        }
        & .item__name-txt {
            font-size: 16px;
            line-height: 1.1;
            font-weight: 300;
            display: inline-block;
            border-bottom: 1px solid #999;
        }
        & .item__name:hover .item__name-txt {
            border-color: transparent;
        }
    }

    @media (--phonePortrait), (--phoneLandscape) {
        flex-direction: column;
        align-items: center;
        height: auto;

        & .logo {
            margin-bottom: 15px;
        }

        & input {
            margin-bottom: 15px;
        }
    }

    @media (--tabletPortrait) {
        max-width: 750px;
    }
}
