@import '../breakpoints';

.homedopnav {
    overflow: hidden;

    & .homedopnav__list {
        display: block;
        display: flex;
        margin: 0 -1px 0 0;
    }
    & .homedopnav__item {
        float: left;
        display: block;
        width: 100%;
        height: 848px;
        margin-left: -1px;
        border: 1px solid var(--paletteColor7);
        border-bottom: 10px solid var(--paletteColor3);
        position: relative;
        z-index: 1;
    }
    & .homedopnav__item:hover .homedopnav__item-bg::after {
        background: transparent;
    }
    & .homedopnav__item-link {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    & .homedopnav__item-bg {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            background: var(--rgbaColor5);
            transition: background 0.25s;
        }
    }
    & .homedopnav-title {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 110px;
        margin-top: 159px;
        padding: 5px 20px;
        background: var(--rgbaColor4);
        position: relative;
        z-index: 2;
        text-align: center;
    }
    & .homedopnav-title__txt {
        font-size: 24px;
        line-height: 1.35;
        color: #fff;
        margin-right: 20px;
    }
    & .homedopnav-title__ico {
        max-width: 68px;
        max-height: 68px;
    }

    @media (--phonePortrait),
        (--phoneLandscape),
        (--tabletPortrait),
        (--tabletLandscape) {
    }
}
