@import '../breakpoints';

.topCont {
    position: relative;
    min-height: 100px;
    z-index: 1;
    color: #FFF;

    & .diz {
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background-position: center;
        background-size: cover;

        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0.4;
            background: #707070;
        }
    }
    & .content {
        padding: 72px 0 0;
    }
    & .text-wrap {
        display: inline-block;
        max-width: 750px;
    }
    & .title {
        display: block;
        font-size: 40px;
        line-height: 1.2;
        font-weight: 500;
        margin-bottom: 10px;
    }
    & .desc {
        display: block;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 500;
    }

    @media (--phonePortrait),
        (--phoneLandscape),
        (--tabletPortrait),
        (--tabletLandscape) {
    }
}

.topCont_big {
    & .content {
        height: 570px;
    }
}
.topCont_mid {
    & .content {
        height: 570px;
        padding-top: 130px;
        text-align: center;
    }
    & .title {
        font-size: 50px;

        &::after {
            content: "";
            display: block;
            height: 5px;
            width: 122px;
            margin: 2px auto 0;
            background: var(--paletteColor4);
        }
    }
}
.topCont_mbottom {
    margin-bottom: 70px;
}
